@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personalizar el ancho de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
  }
  
  /* Estilizar el color de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Color del pulgar de la barra de desplazamiento */
    border-radius: 4px; /* Radio de borde del pulgar */
  }
  
  /* Estilizar el color de fondo de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background-color: #555555; /* Color de fondo de la barra de desplazamiento */
  }

.li-writing{
  display: none;
}

.li-writing.active{
  display: flex;
}

.dot{
  height: 5px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: white;
  animation: dot-wave .9s infinite;  /* Aplica la animación dot-pulse */
}


@keyframes dot-wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

/* Ajusta los retrasos escalonados para cada punto */
.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s; /* Agrega un retraso de 0.2s al segundo punto */
}

.dot:nth-child(3) {
  animation-delay: 0.4s; /* Agrega un retraso de 0.4s al tercer punto */
}
